.env
__pycache__/
.chroma
.ipynb_checkpoints

# Pyre type checker
.pyre/
LLMs/confluence_app/=0.0.19
LLMs/confluence_app/.chroma/*
LLMs/confluence_app/db/*
LLMs/confluence_app/chroma_db/*

# Jupyter Notebook
.ipynb_checkpoints